<h1>Final Test Website for Daniel Perusse</h1>
<h2>Student ID: 102704194 Student Email:dperusse@myseneca.ca</h2>
<hr>
<h3>Login Page</h3>
  
<form #inForm="ngForm" (ngSubmit)="onSubmit(inForm)">

    <p *ngIf="error"><b>
        {{error}}
    </b></p>

    <label for="name">User:</label>
    <input type="text" id="userName" name="userName" [(ngModel)]="user.userName" autofocus>
    <br><br>
    <label for="name">Password:</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password">
    <br><br>

  <button type="submit">Login</button>
</form>